{%extends 'base.html'%}
{%block content%}
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <br>
    <input class="form-control" type="text" name="name" placeholder="email" required><br>
    <input class="form-control" type="text" name="email" placeholder="name" required><br>
    <input class="form-control" type="password" name="password" placeholder="password" required><br>
    <button class="btn btn-primary" type="submit" value="регистрация">регистрация</button>

</form>

{%endblock%}
